.horizontal-scroll-container {
  overflow: hidden; /* Скрыть стандартный скролл */
  width: 100%; /* Ширина контейнера */
  height: 500px; /* Высота контейнера */
  position: relative; /* Для позиционирования внутреннего контента */
  margin-bottom: 20px;
}

.scroll-content {
  display: flex; /* Выстраиваем элементы в ряд */
  height: 100%; /* Полная высота контейнера */
  transition: transform 0.2s ease; /* Плавный переход для эффекта */
}

.item {
  width: 900px; /* Минимальная ширина для каждого элемента */
  height: 100%; /* Полная высота элемента */
  background-color: #1A1A1A; /* Цвет фона элемента */
  margin-right: 10px; /* Отступ между элементами */
  display: flex; /* Для горизонтального выравнивания содержимого */
  align-items: center;
  border-radius: 10px; /* Скругление углов */
  padding: 20px; /* Внутренний отступ */
}

.item img {
  margin-right: 20px; /* Отступ между картинкой и текстом *//* Ширина изображения */
  height: auto; /* Автоматическая высота */
}

.text-content {
  display: flex;
  flex-direction: column; /* Вертикальное выравнивание текста */
}

.text-content h3 {
  margin: 0;
  font-size: 1.5rem; /* Размер заголовка */
}

.text-content h4 {
  margin: 5px 0; /* Отступ между заголовками */
  font-size: 1.2rem; /* Размер подзаголовка */
}

.text-content p {
  margin: 5px 0; /* Отступ между абзацами */
}
